<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:redis="http://www.springframework.org/schema/redis"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/redis http://www.springframework.org/schema/redis/spring-redis-1.0.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd">
	
	<context:component-scan base-package="redis"></context:component-scan>
	
	
	<!-- 配置jedisPoolConfig -->
	<bean  id="jedisPoolConfig"  class="redis.clients.jedis.JedisPoolConfig"  >
		<property name="maxTotal" value="1024"></property>
		<property name="maxIdle" value="200"></property>
		<property name="maxWaitMillis" value="1000"></property>
		<property name="testOnBorrow" value="True"></property>
    </bean>
    <!-- 配置jedis连接工厂 -->
    <bean   id="jedisConnectionFactory"  class="org.springframework.data.redis.connection.jedis.JedisConnectionFactory"  > 
        <property name="hostName" value="127.0.0.1"></property>
        <property name="port" value="6379"></property>
        <property name="poolConfig" ref="jedisPoolConfig"></property>
     </bean>
     <!-- 配置Redis模板 -->
     <bean id="redisTemplate"  class="org.springframework.data.redis.core.RedisTemplate"   >
        <property name="connectionFactory" ref="jedisConnectionFactory"></property>
        </bean>


</beans>
