<!DOCTYPE html>
<html lang="en"  ng-app="exchangeApp">

	<head>
		<title>Seller Registration</title>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link href="bootstrap/css/bootstrap.css" rel="stylesheet">
		<link href="bootstrap/css/Site.css" rel="stylesheet">
		
		
		<link href="bootstrap-switch/bootstrap-switch.css" rel="stylesheet">
		
		
		<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
		<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
		<!--[if lt IE 9]>
		  <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
		  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
		<![endif]-->
        <script src="scripts/jquery.min.js"></script>
        <script src="bootstrap/js/bootstrap.js"></script>
		<script src="scripts/angular.js"></script>
		<script src="scripts/script.js"></script>
		
		
		<script src="bootstrap-switch/bootstrap-switch.js"></script>
		
		

	</head>
	
	<body>
		<div class="container">
		
			<div class="header">

				<!-- Form Name -->
				<legend>Seller Registration page</legend>
			
				<!-- Navbar --> 
				<nav class="navbar navbar-default" style="background-image: url('img/blue.png'); background-position : 10% 10%;" role="navigation">
					<div class="container-fluid">  
						<div class="navbar-header">
							<button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
									data-target="#mynav">
								<span class="sr-only">change nav</span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
					   
							</button>
							
							
							<script>
								$("[name='my-checkbox']").bootstrapSwitch();
							</script>
							<input type="checkbox" name="my-checkbox" checked>
							
							
						</div>
						<div class="collapse navbar-collapse" id="mynav">
							<ul class="nav navbar-nav center-block pull-right">
								<li class="nav-item pull-left">
								  <a class="nav-link" href="#"><span class="glyphicon glyphicon-home"></span> Home</a>
								</li>
								
								<li class="nav-item pull-left">
								  <a class="nav-link" href="LoginPage.html"><span class="glyphicon glyphicon-user"></span>Login</a>
								</li>
								
								 <li class="nav-item pull-left">
								  <a class="nav-link" href="RegistrationPage.html"><span class="glyphicon glyphicon-check"></span> <U>Register</U></a>
								</li>
								
								<li class="nav-item pull-left">
								<a class="nav-link" href="ListOfSellersPage.html"><span class="glyphicon glyphicon-shopping-cart"></span> List of Sellers</a>
								</li>															
							</ul>
						</div> 
					</div>
				</nav>
			
				<!-- Website Logo -->
				<div class="row">
					<label class="col-md-5 col-sm-4 col-xs-3 control-label" for="Logo"></label>
					<div class="col-md-2 col-sm-4 col-xs-6">
						<img class="img-responsive center-block" src="img/logo.png" width="60%" />
					</div>
				</div>
				
				<!-- message-->
				<div class="row">
					<div class="col-md-4 col-sm-3 col-xs-2">
					</div>
					<p class="col-md-4 col-sm-6 col-xs-8" id="message">
					</p>
				</div>
			</div>
		
		
<!-- ********************************* ^ here ^ ********************************* -->		
		
		
		<form name="myForm" class="form-horizontal">
		<fieldset ng-controller="RegistrationController">
	
			<!-- UserName input-->		
			<div class="form-group">
				<label class="col-md-5 col-sm-4 col-xs-3 control-label" for="UserName"> User Name*
				</label>  
				<div class="col-md-2 col-sm-4 col-xs-6">					
					<input id="UserName" name="UserName" type="text" placeholder="enter your User Name" ng-model="username" class="form-control input-sm input.ng-invalid" required>
				</div>		
				<div ng-show="nameNotValid">				
					<label  style="color:red">Field User Name can not be empty</label>
				</div>
			</div>
			
			<!-- Password input-->
			<div class="form-group">
				<label class="col-md-5 col-sm-4 col-xs-3 control-label" for="password"> Password*
				</label>
				<div class="col-md-2 col-sm-4 col-xs-6">
					<input id="userpassword" name="userpassword" type="password" placeholder="enter your password" ng-model="userpassword" ng-change="validatePassword()" class="form-control input-sm" required>
				</div>								
			</div>
			<!-- Confirm password input-->
			<div class="form-group">
				<label class="col-md-5 col-sm-4 col-xs-3 control-label" for="password"> Confirm password*
				</label>
				<div class="col-md-2 col-sm-4 col-xs-6">
					<input id="confirmPassword" name="repPassword" type="password" placeholder="confirm your password" ng-model="confirmPassword" ng-change="validatePassword()" class="form-control input-sm" required>
				</div>								
			</div>
			
			<!-- ShopName input-->		
			<div class="form-group">
				<label class="col-md-5 col-sm-4 col-xs-3 control-label" for="ShopName"> Shop Name*
				</label>  
				<div class="col-md-2 col-sm-4 col-xs-6">					
					<input id="ShopName" name="ShopName" type="text" placeholder="enter your Shop Name" ng-model="shopname" class="form-control input-sm input.ng-invalid" required>
				</div>		
				<div ng-show="nameNotValid">				
					<label  style="color:red">Field Name can not be empty</label>
				</div>
			</div>
			
			<!-- Email input-->
			<div class="form-group">
				<label class="col-md-5 col-sm-4 col-xs-3 control-label" for="Name"> Email*
				</label>  
				<div class="col-md-2 col-sm-4 col-xs-6">
					
					<input id="Email" name="Email" type="email" placeholder="enter your Email" ng-model="email" class="form-control input-sm" required>

				</div>
			</div>
			
			<!-- File Button --> 
			<div class="form-group">
			  <label class="col-md-5 col-sm-4 col-xs-3 control-label" for="filebutton">Upload your Logo</label>
			  <div class="col-md-2 col-sm-4 col-xs-6">
				<input id="filebutton" name="filebutton" class="input-file" type="file">
			  </div>
			</div>

			<!-- Select Basic -->
			<div class="form-group">
			  <label class="col-md-5 col-sm-4 col-xs-3 control-label" for="selectbasic">Select your type*</label>
			  <div class="col-md-2 col-sm-4 col-xs-6">
				<select id="selectbasic" name="selectbasic" class="form-control">
				  <option value="1">Travel</option>
				  <option value="2">Restaurant</option>
				  <option value="3">Shopping</option>
				  <option value="4">Entertainment</option>
				  <option value="5">Services</option>
				  <option value="6">Other</option>
				</select>
			  </div>
			</div>

			<!-- Textarea -->
			<div class="form-group">
			  <label class="col-md-5 col-sm-4 col-xs-3 control-label" for="textarea">Description of the company</label>
			  <div class="col-md-2 col-sm-4 col-xs-6">                     
				<textarea class="form-control" id="textarea" name="textarea"></textarea>
			  </div>
			</div>
			
			<!-- error label -->
			<div class="form-group">
				<label class="col-md-5 col-sm-4 col-xs-3 control-label" for="validation">
				</label>
				<div class="col-md-2 col-sm-4 col-xs-6">
					<label ng-show="!myForm.$valid || passwordsNotEqual" class="errorValidation" name="formValidation"> {{errorTitle}}</label>
				</div>
			</div>
			
			<!-- Button -->
			<div class="form-group">
				<label class="col-md-5 col-sm-4 col-xs-3 control-label" for="registerbutton">
				</label>
				<div class="col-md-2 col-sm-4 col-xs-6">
					<button ng-disabled="!myForm.$valid " href="#" id="registerbutton" name="registerbutton" ng-click="RegisterUser()" class="btn btn-primary center-block"><span class="glyphicon glyphicon-user"></span> Register</button>
				</div>
			</div>
			
			

		</fieldset>
		</form>
		
		</div>
	</body>
  
</html>